<style>
body {
    font-family: 'Arial', sans-serif;  
    background-color: rgb(171, 171, 173);
    text-align: center;
}

titulo {
    font-size: 50px;
    text-align: center;
    color: blue;


}

h2 {
    text-align: center;

}
p {
    text-align: justify;
    color: red;
}


img {
    width: 50%;  
    height: auto;
    display: block;
    margin: 0 auto;  
</style>